/* estilização geral*/

:root{
  --color-white: #ffffff;
  --color-dark1: #10101a;
  --color-dark2: #101020;
  --color-dark3: #2a1d33;
  --color-dark4: #aca9a9;
  --color-dark5: #000000;
  --color-btn: rgb(75, 200, 138);
  --color-btn2: rgb(22, 58, 40);
  --color-purple: #8c55fb;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-dark2);
}

* {
    margin: 0;
    padding: 0;
  }

/*Fim da estilização geral*/

.ativo{
  background: var(--color-dark3);
  padding: 15px;
  border-radius: 10px;
  opacity: 0.7;
}

  a {
    color: var(--color-purple);
    text-decoration: none;
    transition: 0.3s;
  }
  
.nav-list a:hover {
    background-color: var(--color-dark3);
    color: var(--color-white);
    opacity: 0.7;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 0px 0px 10px var(--color-purple);
  }
  
  .logo, .img-logo{
    width: 130px;

  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-dark1);
    height: 15vh;
    font-weight: bold;
    box-shadow: 1px 7px 10px var(--color-dark5);
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  #pesquisa-itens{
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #pesquisa{
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 2px;
    margin: 0px;
  }

  #button-pesquisa{
    border: none;
    background: none;
    color: var(--color-purple);
    
  }

  #button-pesquisa a:hover{
    background-color: none;
    background: none;
    color: var(--color-purple);
    padding:10px;
  }

  /* carrossel */


.container-slider{
  display: flex;
  width: 75%;
  height: 330px;
  align-items: top;
  justify-content: center;
  margin-top: 10px;
  float: right;
}

.container-images{
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0px 0px 7px var(--color-dark5);
  height: 330px;
}


.slider{
  opacity: 0;
  transition: opacity .2s;
  height: 330px;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on{
  opacity: 1;
}

#prev-button, #next-button{
  width: 50px;
  height: 30px;
  border: none;
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
  
}

.img-seta{
  color: var(--color-yellow);
  background-color: transparent;
  padding-top: 130px;
  padding-bottom: 140px;
  width: 100%;
  height: 100%;

}


  /*Fim do carrosel */

  /*Filtro de pesquisa */

  .filter-box {
    background-color: var(--color-dark1);
    margin: 10px 0 0 10px;
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px var(--color-dark5);
  }

  .filter-box h2, label{
    margin: 5px 0px 10px 15px;
    color: var(--color-purple);
    font-weight: bold;
  }

  #categoria{
    display: block;
    width: 200px;
    margin-left: 20px;
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
    color: var(--color-purple);
    background-color: var(--color-dark5);
    cursor: pointer;
  }

#genero{
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    color: var(--color-purple);
    background-color: var(--color-dark5);
    cursor: pointer;
  }

  #preço{
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    color: var(--color-purple);
    background-color: var(--color-dark5);
    cursor: pointer;
  }

  #btn-filtrar{
    background-color: var(--color-btn);
    color: var(--color-btn2);
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-left: 45px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    transition: background 0.5s;
  }

  #btn-filtrar:hover{
    background-color: var(--color-btn2);
    color: var(--color-btn);
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
  }

  #btn-filtrar:active{
    background-color: var(--color-btn);
    color: var(--color-white);
  }


  /*Fim do filtro de pesquisa */

  /*Cards inicio */

  #box-cards{
    background-color: var(--color-dark2);
    margin: 10px;
    width: 63%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 7px var(--color-dark5);
  }


  .card {
    background-color: var(--color-dark1);
    width: 23%;
    height: 320px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px 10px 27px;
    box-shadow: 0px 0px 5px var(--color-dark5);
    
  }

  .card img{
   width: 80%;
   height: 70%;
   margin: 0 0 5px 20px;
   border-radius: 5px;
   
  }

  .card h4{
    color: #8c55fb;
   display: flex;
   justify-content: center;
  }

  .card h5{
    color: var(--color-dark4);
   display: flex;
   justify-content: center;
   font-size: 18px;
  }

  .card button{
    background-color: var(--color-btn);
    color: var(--color-btn2);
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0 0 10px 34px;
    width: 70%;
    height: 10%;
    border-radius: 10px;
    transition: background 0.5s;
    cursor: pointer;
    
  }

  .img-card:hover{
    transform: scale(1.1);
    transition: 0.3s;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .card button:hover{
    background-color: var(--color-btn2);
    color: var(--color-btn);
    transform: scale(1.1);
    transition: 0.3s;
  }

  .card button:active{
    background-color: var(--color-btn);
    color: var(--color-white);
  }

  .star img{
    width: 100px;
    margin: 0 0 0 52px;
  }
  

  /*Fim dos cards */

  /*mais vistos */

  .mais-vistos{
    background-color: var(--color-dark2);
    margin: 10px;
    margin-right: 15px;
    width: 34%;
    float: right;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px var(--color-dark5);
    border-radius: 10px;
  }

  .mais-vistos h3{
    margin: 25px 10px 55px 90px;
    font-size: 28px;
    color: var(--color-purple);
    
  }

  .card-mv{
    background-color: var(--color-dark1);
    margin-left: 5px;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 5px var(--color-dark5);
  }

  .card-mv .img-manga{
    width: 30%;
    height: 140px;
    border-radius: 5px;
    margin-left: 20px;
  }

  .img-manga:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
  }

  .descrition{
    width: 160px;
    float: right;
    height: 30%;
    margin-top: 25px;
    margin-right: 50px;
  }

  .descrition .star img{
    width: 70%;
    margin-top: 5px;
    margin-left: 15px;
  }

  .descrition h4{
    font-size: 120%;
    color: var(--color-purple);
    padding: 7px;
  }

  .descrition h4:hover{
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }

  .descrition h5{
    color: var(--color-dark4);
    margin: 3px 5px 5px 28px;
    font-size: 110%;
  }

  /*fim dos mais vistos */

  /* news letter */

  .news{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 205px;
    border-radius: 10px;
  }

  .news input{
    width: 250px;
    margin-top: 20px;
    margin-left: 47px;
    height: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: solid 1px;
    text-align: center;
  }

  .news button{
    background-color: var(--color-btn);
    color: var(--color-btn2);
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 110px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    transition: background 0.5s;
    cursor: pointer;
  }

  .news button:hover{
    background-color: var(--color-btn2);
    color: var(--color-btn);
    transform: scale(1.1);
    transition: 0.3s;
  }

  .news button:active{
    background-color: var(--color-btn);
    color: var(--color-white);
  }


  .news h4{
    color: var(--color-purple);
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .news-itens{
    margin: 25px 25px 25px 50px;
  }

  /*fim do news letter */

   /* inicio do rodapé */
   
   footer{
    background-color: var(--color-dark1);
    box-shadow: 0px 0px 4px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   }

   footer span{
    color: var(--color-dark4);
   } 
   
   #footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
   }

   .pagamento-icons{
    margin-top: 5px;
   }

   .pagamento-icons h3{
    color: var(--color-purple);
    margin-bottom: 5px;
    margin-left: 30px;
   }



   #icone-pagamentos{
    color: var(--color-dark4);
    margin-left: 75px;
   }

   #contato h3{
    margin-top: 10px;
    margin-left: 85px;
   }

   #contato{
    margin-bottom: 50px;
   }

   #numero{
    margin-left: 60px;
   }

    /* Fim do rodapé */


  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      display: none;
      top: 10vh;
      right: 0;
      width: 50vw;
      height: 100%;
      background: var(--color-dark1);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      perspective: 0em;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .nav-list.active {
      transform: translateX(0);
      display:flex;
    }

    .mobile-menu {
      display: block;
    }

    #pesquisa-itens{
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    #pesquisa{
      height: 25px;
      width: 140px;
      border-radius: 10px;
      border: none;
      padding: 2px;
      margin: 0px;
    }
    
    .container-slider{
      display: flex;
      width: 100%;
      height: 330px;
      align-items: top;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 5px;
      float: right;
    }

      /*Filtro de pesquisa */

  .filter-box {
    margin: 10px;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--color-dark5);
  }


  /*Fim do filtro de pesquisa */

  /* Cards de produtos*/

  #box-cards{
    margin: 10px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 7px var(--color-dark5);
  }

  .card {
    background-color: var(--color-dark1);
    width: 120px;
    height: 230px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px var(--color-dark5);   
  }

  .card img{
   width: 80%;
   height: 70%;
   margin: 0 0 1px 15px;
   border-radius: 5px;
   
  }

  .star img{
    width: 80px;
    margin: 0px 0px 0px 27px ;
  }

  .card h4{
   color: #8c55fb;
   display: flex;
   justify-content: center;
   font-size: 12px;
  }

  .card h5{
    margin-top: 0px;
    color: var(--color-dark4);
   display: flex;
   justify-content: center;
   font-size: 13px;
  }

  .card button{
    background-color: var(--color-btn);
    color: var(--color-btn2);
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 1px 0 10px 16px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    transition: background 0.5s;
    cursor: pointer;
    font-size: 70%;
    
  }

   /* Fim dos Cards de produtos*/

   /* Mais vistos*/

   .mais-vistos{
    background-color: var(--color-dark2);
    margin: 10px;
    width: 96%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px var(--color-dark5);
    border-radius: 10px;
  }

  .card-mv{
    background-color: var(--color-dark1);
    margin-left: 5px;
    width: 90%;
    height: 20%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 0px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 5px var(--color-dark5);
  }

  .card-mv .img-manga{
    width: 30%;
    height: 140px;
    border-radius: 5px;
    margin-left: 20px;
  }

  .descrition{
    width: 40%;
    height: 30%;
    margin-top: 25px;
    margin-right: 50px;
    text-align: center;
  }
  .descrition .star img{
    width: 70%;
    margin-top: 5px;
    margin-left: 3%;
  }
  .descrition h5{
    color: var(--color-dark4);
    margin: 3px 5px 5px 5%;
    font-size: 110%;
  }

  /* Fim dos Mais vistos*/

  .news h4{
    color: var(--color-purple);
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

     .news input{
    width: 250px;
    margin-top: 20px;
    margin-left: 25px;
    height: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: solid 1px;
    text-align: center;
  }

  .news button{
    background-color: var(--color-btn);
    color: var(--color-btn2);
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 90px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    transition: background 0.5s;
    cursor: pointer;
  }


}
   
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }